/* some classics */
/* use .group to group elements - this provides a clear fix */
.group:after {
    display:block;
    clear:both;
    content:".";
    height:0;
    visibility:hidden;
}


/* custom styles here */
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 40px;
}

.post {
    padding-bottom:20px;
    border-bottom:1px dotted #ccc;
	margin-bottom:20px;
}

.post .date {
	font-size:10px;
	color:#999;
	margin-bottom:5px;
}

.post .ago {
    color: #CDCDCD;
    font-family: georgia;
    font-style: italic;
}

.post .body {
	margin-bottom:10px;
}

.prev-next {
	margin-top:10px;
}

.prev-next .next {
	float:right;
}

.prev-next .prev {
	float:left;
}