# use the below to direct everything to index.php
# unless it is a file or directory
<IfModule mod_rewrite.c>

Redirect /2014/05/23/vw-t3-1z-tdi-conversion/ /2014/05/23/vw-t25-1z-tdi-conversion/

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>