/* some classics */
/* use .group to group elements - this provides a clear fix */
.group:after {
    display:block;
    clear:both;
    content:".";
    height:0;
    visibility:hidden;
}

/* thumbnail gallery */

.gallery {
    margin-top:10px;
}

.gallery .thumb {
    float:left;
    margin:0 25px 25px 0;
    height:112px;
    background:#333;
    display:block;
    width:150px;
    text-align:center;
}

.gallery:after {
    display:block;
    clear:both;
    content:".";
    height:0;
    visibility:hidden;
}


/* custom styles here */
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 40px;
}

header h1 {
    font-family: 'Satisfy', cursive;
    color: #fff;
    font-size: 90px;
    -webkit-text-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    -moz-text-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
    text-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
    display: block;
    line-height: 120px;
    margin-left:20px;
    margin-top:-20px;
}

.post {
    padding-bottom:20px;
    margin-bottom:20px;
    padding: 20px 20px;
    max-width: 700px;
    background: url(../img/bg-black.png);
    color: #fff;
}

.post .date {
	font-size:10px;
	color:#999;
	margin-bottom:5px;
}

.post .ago {
    color: #CDCDCD;
    font-family: georgia;
    font-style: italic;
}

.post .body {
	margin-bottom:10px;
}

.post .body img {
    margin-bottom: 20px;
}

#disqus_thread {
    background: #fff;
    padding:20px;
}

.prev-next {
	margin-top:10px;
}

.prev-next .next {
	float:right;
}

.prev-next .prev {
	float:left;
}

.archived-comments {
	border: 1px solid #ccc;
	padding:10px;
}

.navbar .brand {
    font-family: 'Satisfy', cursive;
    color: #fff;
    padding-left:37px;
    line-height: 20px;
}

.navbar-inner {
    background: transparent url(../img/bg-black.png);
}

.pagination ul, footer {
    background: url(../img/bg-black.png);
}

footer {
    padding:10px;
    color: #fff;
    position: relative;
}

footer .fb-like {
    position: absolute;
    top:10px;
    right:10px;
}

.pagination .active a {
    background-color: rgb(121, 114, 114);
    color: #fff;
}

.well {
    background: transparent url(../img/bg-texture.jpg);
    border-radius: 0 !important; /* sue me! */
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.well h2 {
    font-size:20px;
    margin-top: -10px;
    margin-bottom:10px;
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 40px;
        line-height: 70px;
    }  
}

/*

    Supersized - Fullscreen Slideshow jQuery Plugin
    Version : 3.2.7
    Site    : www.buildinternet.com/project/supersized
    
    Author  : Sam Dunn
    Company : One Mighty Roar (www.onemightyroar.com)
    License : MIT License / GPL License
    
*/

* { margin:0; padding:0; }
body { background:#111; height:100%; }
    img { border:none; }
    
    /*#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}*/
    
    #supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
        #supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
            #supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }   /*Speed*/
            #supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }           /*Quality*/
        
        #supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
        #supersized a { width:100%; height:100%; display:block; }
            #supersized li.prevslide { z-index:-20; }
            #supersized li.activeslide { z-index:-10; }
            #supersized li.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
                #supersized li.image-loading img{ visibility:hidden; }
            #supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }